<%- include ('headerPage.ejs') %>
<br />
<br />
<label class="form-label" >ReadMe File</label>
<br />
<div class="d-grid gap-2 col-6 mx-auto">
        <img src="/public/products/productIMG/<%=imgPath%>" class="card-img-top" width="300" height="300">

    
  </div>

<%- include ('footerPage.ejs') %>