<%- include ('headerPage.ejs') %>
<section id="hero" class="d-flex align-items-center">

    <div class="container d-flex flex-column align-items-center justify-content-center" data-aos="fade-up">
      <h1>Projects</h1>
      <div>
        <a href="/projectDetails" class="btn-get-started scrollto">Create</a>
        <a href="/findproject" class="btn-get-started scrollto">Find</a>
      </div>
      <img src="/public/img/hero-img.png" class="img-fluid hero-img" alt="" data-aos="zoom-in" data-aos-delay="150">
    </div>

  </section>
<%- include ('footerPage.ejs') %>
