<%- include ('headerPage.ejs') %>
<br />
<label class="form-label" >Record Added</label>
<br />
<div class="d-grid gap-2 col-6 mx-auto">
    <a href="/findProject"><button class="btn btn-light" type="button">Check Projects</a></button>
    <a href="/updatepage"><button class="btn btn-light" type="button">Update product</a></button>
    
  </div>

<%- include ('footerPage.ejs') %>