<%- include ('headerPage.ejs') %>
<br />
<br />
<br />

<h6 class="container">Signed In</h6> 
<h6 class="container">Email: <%=mailId%> </h6>
<br />
<div class="d-grid gap-2 col-6 mx-auto">
    <a href="/peopleRegister"><button class="btn btn-light" type="button">Looking to be part of a project? Register here</a></button>
    <a href="/findProject"><button class="btn btn-light" type="button">Check Projects</a></button>
    
  </div>

<%- include ('footerPage.ejs') %>